# Default ignored files
/../../Cookie auto clicker game /.idea/shelf/
/../../Cookie auto clicker game /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Cookie auto clicker game /.idea/httpRequests/
